<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>scanner</key>
            <defaultValue>console</defaultValue>
        </discriminator>
        <sift>
            <appender name="scan-${scanner}" class="ch.qos.logback.core.FileAppender">
                <file>scan-${scanner}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d %p %message%n%ex</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="SIFT"/>
    </root>
</configuration>